 modules.searchContainer {
  position: relative;
}

.searchIcon {
  position: absolute;
  left: 0.625rem;
  top: 0.625rem;
  height: 1rem;
  width: 1rem;
  color: var(--slate-500);
}

.searchInput {
  width: 16rem;
  padding-left: 2rem;
  background-color: var(--slate-50);
  border: 1px solid var(--slate-200);
  color: var(--slate-900);
}

/* Dark mode styles */
:global(.dark) .searchIcon {
  color: var(--slate-400);
}

:global(.dark) .searchInput {
  background-color: var(--slate-800);
  border-color: var(--slate-700);
  color: var(--slate-100);
}